In [172]:
import numpy as np
import pandas as pd

In [173]:
df=pd.read_csv(r"C:\Users\nirma\Desktop\SHIIRISHA\advertising.csv")

In [174]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [175]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [176]:
df.tail()

        TV  radio  newspaper  sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

In [177]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

In [178]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\nirma\anaconda3\lib\site-packages (2.17.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: tensorflow-intel==2.17.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow) (2.17.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.4.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.32.2)
Requirement already satisfied: setuptools in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (69.5.1)
Requirement already satisfied: six>=1.12.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.65.1)
Requirement already satisfied: tensorboard<2.18,>=2.17 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.17.0)
Requirement already satisfied: keras>=3.2.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.4.1)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\nirma\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.0->tensorflow) (0.43.0)
Requirement already satisfied: rich in c:\users\nirma\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (13.3.5)
Requirement already satisfied: namex in c:\users\nirma\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\nirma\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (0.12.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nirma\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirma\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nirma\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirma\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2024.6.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\nirma\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\nirma\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\nirma\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\nirma\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\nirma\anaconda3\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\nirma\anaconda3\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\nirma\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (0.1.0)

In [179]:
from sklearn.model_selection import train_test_split

In [180]:
from sklearn.preprocessing import StandardScaler

In [181]:
from tensorflow.keras.models import Sequential

In [182]:
from tensorflow.keras.layers import Dense

In [183]:
from tensorflow.keras.optimizers import Adam

In [184]:
import joblib

In [185]:
from flask import Flask, request, jsonify

In [186]:
X=df.drop("sales", axis=1)
y=df["sales"]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)

In [187]:
# StandardScaler
scaler=StandardScaler()

In [188]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [189]:
#Build the deep learning model
model=Sequential()
model.add(Dense(64, activation="relu", input_dim=X_train.shape[1])) #hidden layer 1
model.add(Dense(32, activation="relu")) # hidden layer 2
model.add(Dense(1)) #Output layer

C:\Users\nirma\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [190]:
#compile the model
model.compile(optimizer=Adam(),loss="mean_squared_error")

In [191]:
# Train the model
model.fit(X_train,y_train,epochs=50,batch_size=32,verbose=1)

Epoch 1/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 221.8438
Epoch 2/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 211.9972
Epoch 3/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 213.0960
Epoch 4/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 203.8920
Epoch 5/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 199.3073
Epoch 6/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 193.9445
Epoch 7/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 182.5739
Epoch 8/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 169.3646
Epoch 9/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 158.8063
Epoch 10/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 146.6323
Epoch 11/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 144.4588
Epoch 12/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 127.0900
Epoch 13/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 113.9697
Epoch 14/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 100.1893
Epoch 15/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 88.6917
Epoch 16/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 75.0620
Epoch 17/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 65.8158
Epoch 18/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 49.8234
Epoch 19/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 41.4064
Epoch 20/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 31.5070
Epoch 21/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 27.3219
Epoch 22/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 22.5470
Epoch 23/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 17.4894
Epoch 24/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 14.5367
Epoch 25/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 15.5339
Epoch 26/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 13.6340
Epoch 27/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 13.9307
Epoch 28/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 11.2724
Epoch 29/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10.9116
Epoch 30/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 10.5417
Epoch 31/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10.0123
Epoch 32/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 10.4545
Epoch 33/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 10.4016
Epoch 34/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9.2223
Epoch 35/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 10.0125
Epoch 36/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 9.0173
Epoch 37/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 11.4530
Epoch 38/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9.8455
Epoch 39/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 10.6839
Epoch 40/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8.2703
Epoch 41/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9.2249
Epoch 42/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 9.9026
Epoch 43/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.3511
Epoch 44/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 8.9075
Epoch 45/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7.7853
Epoch 46/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 913us/step - loss: 9.6846
Epoch 47/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 7.7176
Epoch 48/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 0s/step - loss: 7.6307
Epoch 49/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 8.2587
Epoch 50/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - loss: 8.8411

In [192]:
loss=model.evaluate(X_test, y_test)
print("Test Loss:", loss)

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 11.0979
Test Loss: 11.124232292175293

In [215]:
# Serialize the model and scaler
joblib.dump(model,"regression_model.pkl")
joblib.dump(scaler,"scaler.pkl")

['scaler.pkl']

In [217]:
# Flask app
app=Flask(__name__)

In [219]:
model=joblib.load("regression_model.pkl")
scaler=joblib.load("scaler.pkl")

In [223]:
@app.route("/predict",methods=["POST"])
def predict():
    data=request.get_json()
    input_data=pd.DataFrame([data])
    input_data_scaled=scaler.transform(input_data)
    prediction=model.predict(input_data_scaled)[0][0]
    return jsonify({"prediction": prediction})

In [225]:
if __name__=="__main__":
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

C:\Users\nirma\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)